* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
  //   background-image: linear-gradient(to top $color-primary, $color-secondary);
  background: linear-gradient(to left, $color-primary, $color-secondary);
  // overflow: hidden;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1350px;
  width: 90vw;
  margin: auto;
  margin-top: 4rem;
}

.container-mian {
  min-height: 63vh;
}

// header main from here

.header {
  // margin-top: 4rem;
  padding: 0.8rem 1rem;
  // background-color: rgb(132, 133, 134);
  background-color: rgb(118, 119, 121);
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 1.7rem;

  &__left {
    &-logo {
      width: 18rem;
    }
  }

  &__right {
    border-radius: 30%;
    border: none;
    // background-color: rgb(221, 228, 243);
    background-color: rgba(135, 136, 138, 0.911);
    padding: 10px 15px;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(169, 169, 173, 0.961);
      color: rgba(0, 0, 0, 0.938);
    }
    &-logo {
      margin-top: 3px;
    }
  }
}
